In [4]:
def func1():
    print("This is inside func1")
    
func1()
func1()
func1()

This is inside func1
This is inside func1
This is inside func1

In [8]:
def func2(a,b) -> None:
    print(f"a is {a} and b is {b}")
    
func2(22,33)

a is 22 and b is 33

In [10]:
def func2(a,b) -> int:
    '''
    this is the func2 function that will accept two numbers and return one intger result
    '''
    print(f"a is {a} and b is {b}")
    return a+b
    
res = func2(22,33)
print(f"Returned sum is {res}")

a is 22 and b is 33
Returned sum is 55

In [12]:
print(func2.__doc__)

    this is the func2 function that will accept two numbers and return one intger result

In [13]:
def func_n(a):
    if a>0:
        print(a)
        func_n(a-1)

func_n(5)

5
4
3
2
1

In [14]:
def func_n(a):
    res = 1
    if a > 0:
        res = res * a
        print(res)
        func_n(a-1)
#         a*func_n(a-1)

func_n(5)

5
4
3
2
1

In [18]:
def func_n(a,res):
    print(f"at this point a is {a} and res is {res}")
    if a > 0:
        res = res * a
        print(res)
        func_n(a-1,res)
#         a*func_n(a-1)

func_n(5,1)

at this point a is 5 and res is 1
5
at this point a is 4 and res is 5
20
at this point a is 3 and res is 20
60
at this point a is 2 and res is 60
120
at this point a is 1 and res is 120
120
at this point a is 0 and res is 120

In [20]:
def func_n(a):
#     res = 1
    if a == 1:
        return 1
    else:
#         res = res * a
#         print(res)
#         func_n(a-1,res)
        return (a*func_n(a-1))

print(func_n(5))

120

# string

In [21]:
capital_desc = 'kathmandu is capital of Nepal'
print(capital_desc)

kathmandu is capital of Nepal

In [22]:
print(type(capital_desc))

<class 'str'>

In [23]:
print(len(capital_desc))

29

In [24]:
print(capital_desc[0])

k

In [25]:
print(capital_desc[0:10])

kathmandu

In [26]:
print(capital_desc[0:3])

kat

In [27]:
print(capital_desc[-1])

l

In [28]:
print(capital_desc[::2])

ktmnui aia fNpl

# list

In [29]:
list1 = ['apple','ball','cat','dog','elephant']
print(list1)

['apple', 'ball', 'cat', 'dog', 'elephant']

In [30]:
print(list1[0])

apple

In [31]:
print(len(list1))

5

In [32]:
print(list1[0:4])

['apple', 'ball', 'cat', 'dog']

In [33]:
list1.append('fish')

In [34]:
list1

['apple', 'ball', 'cat', 'dog', 'elephant', 'fish']

In [38]:
list1.insert(2,'random')

In [39]:
list1

['apple', 'ball', 'random', 'cat', 'dog', 'elephant', 'fish']

In [40]:
list1.index('ball')

1

In [ ]:
# try finding the max min sum etcetera

In [41]:
# tuple
user_tuple = ()
print(type(user_tuple))

<class 'tuple'>