In [1]:
my_list = ['ram',22,77,['ktm','brt','pkr']]
print(my_list)

['ram', 22, 77, ['ktm', 'brt', 'pkr']]

In [2]:
my_list[3]

['ktm', 'brt', 'pkr']

In [3]:
my_list[3][0]

'ktm'

In [4]:
student = {
    'name':'roshan',
    'age':33,
    'mark':77,
    'address':'kathmandu'
}

In [5]:
print(student)

{'name': 'roshan', 'age': 33, 'mark': 77, 'address': 'kathmandu'}

In [6]:
print(student['name'])

roshan

In [7]:
print(student['age'])

33

In [8]:
print(student.keys())

dict_keys(['name', 'age', 'mark', 'address'])

In [11]:
print(student.values())

dict_values(['roshan', 33, 77, 'kathmandu'])

In [12]:
print(student.items())

dict_items([('name', 'roshan'), ('age', 33), ('mark', 77), ('address', 'kathmandu')])

In [13]:
for i in student.values():
    print(i)

roshan
33
77
kathmandu

In [14]:
for i in student.keys():
    print(i)

name
age
mark
address

In [15]:
for i,j in student.items():
    print(i,j)

name roshan
age 33
mark 77
address kathmandu

In [16]:
import math

In [17]:
num = 9
print(math.sqrt(num))

3.0

In [18]:
print(math.pow(num,2))
print(math.pow(num,3))

81.0
729.0

In [25]:
print(math.ceil(3.6))
print(math.ceil(3.1))
print(math.ceil(3.0))

4
4
3

In [20]:
print(math.ceil(-3.6))

-3

In [21]:
print(math.floor(3.7))
print(math.floor(3.1))

3
3

In [22]:
print(math.floor(-3.5))

-4

In [24]:
print(math.trunc(3.8))
print(math.trunc(3.1))
print(math.trunc(-3.5))

3
3
-3

In [28]:
print(round(3.6))
print(round(3.5))
print(round(3.1))
print(round(3.9))

4
4
3
4

In [29]:
print(math.pi)

3.141592653589793

In [30]:
print(math.e)

2.718281828459045

In [34]:
print(round(3.6))
print(round(math.pi))
print(round(math.pi,3))
print(round(math.pi,4))

4
3
3.142
3.1416

In [35]:
import os

In [39]:
print(os.getcwd())
print(os.listdir())
print(os.pardir)

C:\Users\Admin\Data Science 1PM
['.ipynb_checkpoints', 'python_catchup_1.ipynb', 'python_catchup_2.ipynb', 'python_catchup_3.ipynb', 'Untitled.ipynb']
..

In [40]:
import random

In [41]:
print(random.random())

0.9602371472742374

In [46]:
print(random.randint(1,5))

4

In [47]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [48]:
import csv

In [50]:
with open("country.csv") as f:
    data_read = csv.reader(f)
    for i in data_read:
        print(i)

['country', 'capital', 'gdp', 'education']
['Nepal', 'kathmandu', '12', '55']
['India', 'Delhi', '12', '59']
['Pakistan', 'Islamabad', '17', '81']
['Maldives', 'Male', '11', '41']
['China', 'Beijing', '12', '91']

In [52]:
with open("country.csv") as f:
    data_read = csv.reader(f)
    for i in data_read:
        if 'Nepal' in i:
            print(i)
        else:
            print("No such data found")

No such data found
['Nepal', 'kathmandu', '12', '55']
No such data found
No such data found
No such data found
No such data found

In [66]:
with open("country.csv") as f:
    data_read = csv.reader(f)
    for i in data_read:
        if 'Nepal' in i:
            print(i)
            break
        else:
#             print("No such data found")
            pass

['Nepal', 'kathmandu', '12', '55']

In [56]:
with open("country.csv") as f:
    counter = 0
    data_read = csv.reader(f)
    for i in data_read:
        if 'Nepals' in i:
            print(i)
            counter += 1
            break
    if counter == 0:
        print("No such data found")

No such data found

In [64]:
with open("country.csv") as f:
    counter = 0
    data_read = csv.reader(f)
    country_name = input("Enter the name of country to check: ")
    country_name=country_name.title()
    for i in data_read:
        if country_name in i:
            print(i)
            counter += 1
            break
    if counter == 0:
        print("No such data found")

Enter the name of country to check: India
['India', 'Delhi', '12', '59']